@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,200&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;

}
body{
    height: 100vh;
    width: 100%;
    display: grid;
    place-items: center;
    background-color: aliceblue;
}
.search-area{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 750px;
    border-radius: 10px;
    background-color: rgb(139, 180, 183);
}
.search-area input{
    height: 45px;
    width: 550px;
    font-size: 18px;
    outline: none;
    border: 2px solid lightslategrey;
    border-radius: 10px;
    padding: 10px;
    font-weight: 650;
    
}
.search-area button{
    height: 45px;
    width: 150px;
    font-weight: 750;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    outline: none;
    margin: 0 0 0 10px;


}

.output-container{
    height: 320px;
    width: 790px;
    background-color:rgb(22, 137, 145) ;
    margin: 15px 0 0 0 ;
    border-radius: 10px;
}
img{
    margin-left: 15px;
    position: absolute;
    margin-top: 15px;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 15px solid rgb(112, 166, 184);


}
.username h1{
    position: absolute;
    margin-top: 15px;
    margin-left: 245px;
    font-weight: 750;
    color: rgb(0, 76, 76);
    
}
.bio p{
    font-size: 20px;
    font-weight: 600;
    margin-left: 245px;
    width: 500px;
    color: rgb(0, 76, 76);
    margin-top: 75px;
    position: absolute;
}
.info ul{
    color: whitesmoke;
    position: absolute;
    margin-top: 175px;
    margin-left: 245px;
    display: flex;
    
}
ul li{
    font-weight: 650;
    color: whitesmoke;
    letter-spacing: 2px;
    margin: 15px;
    padding: 5px 15px;
    background-color: rgb(171, 184, 194);
    list-style: none;
}
#output{
   display: none; 
}